[submodule "Exercises/2024-01-12-JAVASCRIPT-oppgave-1"]
	path = Exercises/2024-01-12-JAVASCRIPT-oppgave-1
	url = https://github.com/Inna-B10/2024-01-12-JAVASCRIPT-oppgave-1.git
[submodule "Exercises/2024-01-18-JAVASCRIPT-oppgave-2"]
	path = Exercises/2024-01-18-JAVASCRIPT-oppgave-2
	url = https://github.com/Inna-B10/2024-01-18-JAVASCRIPT-oppgave-2.git
